/* **********css pour desktop home******************* */

@media screen and (min-width:1025px){

    nav>ul>li, .plogo>a>img, .entreprise, .divCategory a, .divCategory, .adminGetCar{
        display: inline-block;
    }

    .divBar, .divNosCar, .navBar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .carView, .imgBack{
        display:block;
    }

    /* /////////// H E A D E R ////////////// */
    
    
    nav{
        margin-top: 0rem;
    }
    

    nav>ul>li{
        font-size: 2rem;
        padding: 0 1rem;
    }

    nav li:hover .sous_menu{
        top: 2rem;
        left: -15rem;
    } 
    
    .sous_menu li{
        border-bottom: 0.1rem solid #CCC;
    }

    .divBar{
        padding: 0;
    }

    .entreprise, li, nav a{
        font-size: 1.6rem;
    }


    .entreprise{
        vertical-align: top;
        padding-top: 3rem;
    }
    
    
    /* ////// IMAGE D'ACCUEIL ////// */
    .imgBack{
        background-image: url('../imgBoerbullMotors/back.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20rem 0 70rem;
        text-align: center;
        margin:0 0 3rem;
    }  
    
    /* /////////// M A I N ////////////// */


    .divNosCar > article {
        width: 25%;
        margin: 0; 
    }
    
    
    .sectionUniversel fieldset{
        display: inline;
    }
}  